.button {
    background-color: tomato;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5px;
    z-index: 2;
}

.button svg {
    height: 50px;
    width: 50px;
    z-index: 2;
}

.button:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.4);
}